.topo{
    background-color: #274566; 
    margin-top: 2%;
    text-align: center;
}

body{
    background-color: #FFFFFF !important;
}

.editNomeCasa{
    background-color: #274566;
}

.btn-outline{
    background-color: #000;
}